<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tvOSVideoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C31643521C6A2AF40080EBB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C31643631C6A2AF90080EBB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C316436E1C6A2AF90080EBB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
